{% extends 'main/layout.html' %}



{% block css %}
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/status.css') }}"> -->
{% endblock css %}

{% block content %}

<div class="container-fluid">
  <div class="row justify-content-evenly">

    <!-- ================= Posts on the left side ================= -->

    <div class="col-lg-8 pb-5">
      <div class="d-flex flex-column justify-content-center w-100 mx-auto overflow-auto"  style="padding-top: 56px; max-width: 100%" id="post-container">
        

        <!-- Flash messages -->
        <div>
          {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>


          
      </div>
    </div>
  </div>
</div>








{% endblock content %}



{% block script %}


<script src="{{ url_for('static', filename='js/posts.js') }}"></script>
<script src="{{ url_for('static', filename='js/comments.js') }}"></script>
<script src="{{ url_for('static', filename='js/likes.js') }}"></script>


{% endblock script %}
